<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMS enviado com sucesso</title>
</head>

<body>
  <center>
      <main>
          <h1>PESQUISA FEITA COM O CODIGO {{rastreio}} E SMS ENVIADO PARA {{telefone}} ;)</h1>
          <h2>STATUS DO RASTREIO: {{status}}</h2>
          <p>Pode ser que o SMS demore alguns segundos para chegar</p>
      
          <form action="/" method="GET" name="home">
            <button>Consultar outro rastreio</button>
         </form>
      </main>
  </center>
</body>
</html>